<ion-card class="w-full font-mono max-h-80 h-100 bg-[url('https://picsum.photos/400/300?grayscale&blur')]">
  <ion-card-header>
    <ion-card-subtitle class="font-semibold text-white">
      <!-- {{ todoCard.date | date : "dd MMMM, yyyy" }} -->
    </ion-card-subtitle>
    <ion-card-title class="text-2xl font-extrabold text-white">
      {{ todoCard.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="font-light text-white">
    {{ todoCard.description }}
  </ion-card-content>
</ion-card>
